.order {
    @include background('../images/order-bg.jpg');
}

.form__content {
    display: flex;
    max-width: rem(960px);
}

.form__content-left,
.form__content-right {
    width: 50%;
}

.form__block {
    width: 100%;
    margin: 0 rem(10px);
}

.form__block-title {
    color: #fff;
    font-size: rem(14px);
    margin-left: rem(10px);
}

.form__input {
    border: none;
    border-radius: rem(4px);
    line-height: rem(35px);
    margin: rem(14px) rem(10px);
    padding: 0 rem(5px);
    width: inherit;
}

.form__content-left .form__row {
    display: flex;
    justify-content: space-between;
}

.form__content-right .form__row {
    display: flex;
    /*justify-content: space-between;*/
}

.form__input--textarea {
    height: rem(117px);
}

.form__block--radios,
.form__block--checkbox {
    width: initial;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.form__block--checkbox {
    margin-top: rem(24px);
    margin-bottom: rem(10px);
}

.form__block--button {
    max-width: min-content;
}

.form__block--radios .form__block-title,
.form__block--checkbox .form__block-title {
    margin-left: rem(35px);
}

.form__block--checkbox:before,
.form__block--radios:before {
    content: "";
    display: inline-block;
    width: rem(16px);
    height: rem(16px);
    left: rem(10px);
    position: relative;
    background-color: #fff;
    position: absolute;
}

.form__block--radios:before {
    border-radius: 50%;
}

.form__input--radio {
    display: none;
}

.form__input--checkbox {
    display: none;
}

.form__block--radios:after,
.form__block--checkbox:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(8px);
    height: rem(8px);
    background-color: transparent;
    left: rem(14px);
    top: rem(5px);
    border-radius: 50%;
}

#change:checked+.form__block--radios:after,
#pay-card:checked+.form__block--radios:after,
#no-call:checked+.form__block--checkbox:after {
    background-color: $orange;
}

#no-call:checked+.form__block--checkbox:after {
    border-radius: 0%;
}

.any-button--order {
    background-color: #e25028;
    max-width: min-content;
    text-align: center;
}