.team__conteiner {
    background-image: url('../images/team_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
}

.team__content {
    width: 50%;
    padding: 5rem;
    background-color: rgba(47,50,52,.93);
}
.team-acco__item{
	margin-bottom: 35px;
	&:first-child{
		padding-top: 90px;
	}
}
.team-acco__trigger{
	color: #fff;
    font-family: 'gagalin';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    text-decoration: none;
    &:before{
    	content: "";
    	width: 9;
    	height: 6;
    	display: inline-block;
    	border: 6px solid transparent;
    	border-top-color: $yello;
    	border-bottom-width: 0;
    	padding-bottom:3px;
    	margin-right: 5px;
    }	
}
.taeam-acco__content{
    display: flex;
    padding-top: 12px;
	height: 0;
	overflow: hidden;
}
.team-acco__item--active {
	.taeam-acco__content{
	height: initial;
	}
	.team-acco__trigger{
		color: $yello;
	}
}
.team-acco__pic{
    display: flex;
    margin: 0 15px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
}
.team-acco__text-title{
	font-family: 'ubuntu';
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding-top: 10px;
}
.team-acco__text-content{
	font-family: 'ubuntu';
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	padding-top: 15px;
}