.team__conteiner {
    background-image: url('../images/team_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
}

.team__content {
    width: 50%;
}