@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b.woff") format("woff");
  src: url("../fonts/ubuntu-b.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light.woff") format("woff");
  src: url("../fonts/ubuntu-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium.woff") format("woff");
  src: url("../fonts/ubuntu-medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular.woff") format("woff");
  src: url("../fonts/ubuntu-regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular.woff") format("woff");
  src: url("../fonts/gagalin-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehackmedium.woff") format("woff");
  src: url("../fonts/lifehackmedium.woff") format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'ubuntu', 'Arial', 'Helvetica', 'sans-serif';
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhyden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px;
  position: relative; }
  .section_centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.conteiner {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.wraper {
  width: 100%;
  min-height: 100%;
  position: relative;
  min-width: 960px;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 650px;
  position: relative; }

.conteiner--full {
  width: 100%;
  height: 100%;
  max-width: 100%; }

.section__title {
  color: #f8b43a;
  font-family: 'gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0; }

.any-button {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer; }

.any-button.any-button--no-fill {
  background: transparent;
  padding: 0;
  margin-left: -10px;
  text-transform: none;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content; }

.arrow-scroll__link {
  position: fixed;
  top: 95%;
  left: 50%;
  display: block;
  width: 30px;
  margin-left: -15px;
  height: 16px;
  z-index: 50; }

.arrow-scroll__link svg {
  width: 30px;
  height: 16px;
  fill: #fff; }

.aside {
  position: absolute; }

.dot-nav {
  position: fixed;
  display: block;
  top: 90px;
  right: 64px;
  z-index: 101; }

.dot-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.dot-nav-list__item-link {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-bottom: 5px;
  position: relative;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0); }

.dot-nav-list__item-link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  top: 3px;
  left: 3px; }

.dot-nav-list__item:nth-child(1) .dot-nav-list__item-link {
  border: 1px solid white; }

.hero {
  background-image: url("../images/slide-1-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.hero__img:before {
  background: url(../images/drops.png) no-repeat;
  content: "";
  width: 451px;
  height: 241px;
  position: absolute;
  z-index: 1;
  margin-top: 60px;
  margin-left: -32px; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.hero__img,
.hero__description {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%; }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title--hero {
  padding-top: 60px; }

.hero__descroption-text {
  color: #fff;
  font-family: 'lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1; }

.any-button--order {
  background-color: #e25028; }

.best {
  background-image: url("../images/slide-2-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem; }

.promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  vertical-align: top;
  text-align: center; }

.promo-item {
  padding: 0 5px;
  width: 300px; }

.promo-item__title {
  color: #2f3234;
  font-family: 'lifehack';
  font-size: 24px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 30px; }

.promo-item__body {
  color: #2f3234;
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 15px; }

.any-button--more {
  background-color: #2f3234;
  color: #fff; }

.any-button--more:hover {
  background-color: #434648;
  color: #fff; }

.people-list {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  height: 100%;
  width: 100%;
  position: relative; }

.people-list__item {
  width: 25%;
  height: 50%;
  position: relative;
  background: #000; }

.people-list__item .people-list__item-photo,
.people-list__item .people-list__item-info {
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0; }

.people-list__item:hover .people-list__item-photo {
  -webkit-filter: grayscale(100%) opacity(30%);
  filter: grayscale(100%) opacity(30%); }

.people-list__item .people-list__item-info {
  z-index: 10;
  padding: 50px 20px 20px 20px; }

.people-list__item-info {
  opacity: 0;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out; }

.people-list__item:hover .people-list__item-info {
  opacity: 1; }

.people-list__item:hover .list-item-conteiner {
  background-color: rgba(80, 80, 80, 0.5); }

.people-list__item--01 .people-list__item-photo {
  background-image: url(../images/foto-01c.jpg); }

.people-list__item--02 .people-list__item-photo {
  background-image: url(../images/foto-02c.jpg); }

.people-list__item--03 .people-list__item-photo {
  background-image: url(../images/foto-03c.jpg); }

.people-list__item--04 .people-list__item-photo {
  background-image: url(../images/foto-04c.jpg); }

.people-list__item--05 .people-list__item-photo {
  background-image: url(../images/foto-05c.jpg); }

.people-list__item--06 .people-list__item-photo {
  background-image: url(../images/foto-06c.jpg); }

.people-list__item--07 .people-list__item-photo {
  background-image: url(../images/foto-07c.jpg); }

.people-list__item--08 .people-list__item-photo {
  background-image: url(../images/foto-08c.jpg); }

.people-list__item-title {
  color: #fff;
  font-family: gagalin;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.42; }

.people-list__item-body {
  color: #fff;
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-bottom: 20px; }

.team__conteiner {
  background-image: url("../images/team_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.team__content {
  width: 50%;
  padding: 5rem;
  background-color: rgba(47, 50, 52, 0.93); }

.team-acco__item {
  margin-bottom: 35px; }
  .team-acco__item:first-child {
    padding-top: 90px; }

.team-acco__trigger {
  color: #fff;
  font-family: 'gagalin';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  text-decoration: none; }
  .team-acco__trigger:before {
    content: "";
    width: 9;
    height: 6;
    display: inline-block;
    border: 6px solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    padding-bottom: 3px;
    margin-right: 5px; }

.taeam-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  height: 0;
  overflow: hidden; }

.team-acco__item--active .taeam-acco__content {
  height: initial; }

.team-acco__item--active .team-acco__trigger {
  color: #f8b43a; }

.team-acco__pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team-acco__text-title {
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding-top: 10px; }

.team-acco__text-content {
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding-top: 15px; }

.menu__conteiner {
  background-image: url("../images/menu_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.menu__content {
  position: relative;
  width: 100%;
  height: 100%; }

.section__title--menu {
  color: #fff;
  position: absolute;
  left: 90px;
  top: 110px;
  z-index: 10; }

.menu-acco {
  position: absolute;
  max-width: 71%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-acco__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-acco__item--meat {
  background: url(../images/menu-meat-big.jpg) no-repeat center;
  background-size: cover; }

.menu-acco__item--vegan {
  background: url(../images/menu-vegan-big.jpg) no-repeat center;
  background-size: cover; }

.menu-acco__item--diet {
  background: url(../images/menu-diet-big.jpg) no-repeat center;
  background-size: cover; }

.menu-acco__title {
  display: block;
  position: relative;
  min-width: 80px;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

.menu-acco__title-sub {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: block;
  position: absolute;
  width: 300px;
  text-align: center;
  top: 50%;
  left: -110px;
  color: #fff;
  font-family: 'gagalin';
  font-size: 40px; }

.menu-acco__content {
  height: 100%;
  width: 0;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.93);
  color: #fff; }

.menu-acco__text {
  padding: 60px 35px 35px 35px;
  opacity: 0; }

/*.menu-acco__item--active,*/
.menu-acco__item:hover .menu-acco__content {
  width: 100%; }

.menu-acco__item:hover .menu-acco__text {
  opacity: 100; }

.menu-acco__item:hover .menu-acco__title-sub {
  color: #f8b43a; }

.order {
  background-image: url("../images/order-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px; }

.form__content-left,
.form__content-right {
  width: 50%; }

.form__block {
  width: 100%;
  margin: 0 10px; }

.form__block-title {
  color: #fff;
  font-size: 14px;
  margin-left: 10px; }

.form__input {
  border: none;
  border-radius: 4px;
  line-height: 35px;
  margin: 14px 10px;
  padding: 0 5px;
  width: inherit; }

.form__content-left .form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form__content-right .form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/ }

.form__input--textarea {
  height: 117px; }

.form__block--radios,
.form__block--checkbox {
  width: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative; }

.form__block--checkbox {
  margin-top: 24px;
  margin-bottom: 10px; }

.form__block--button {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content; }

.form__block--radios .form__block-title,
.form__block--checkbox .form__block-title {
  margin-left: 35px; }

.form__block--checkbox:before,
.form__block--radios:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  left: 10px;
  position: relative;
  background-color: #fff;
  position: absolute; }

.form__block--radios:before {
  border-radius: 50%; }

.form__input--radio {
  display: none; }

.form__input--checkbox {
  display: none; }

.form__block--radios:after,
.form__block--checkbox:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: transparent;
  left: 14px;
  top: 5px;
  border-radius: 50%; }

#change:checked + .form__block--radios:after,
#pay-card:checked + .form__block--radios:after,
#no-call:checked + .form__block--checkbox:after {
  background-color: #e25028; }

#no-call:checked + .form__block--checkbox:after {
  border-radius: 0%; }

.map {
  width: 100%;
  height: 100%;
  background-image: url("../images/map-tmp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.footer {
  height: 58px;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-image: url("../images/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.footer-content {
  max-width: 940px;
  margin: 0 auto; }

.adress {
  font-size: 14px;
  font-family: 'ubuntu';
  font-weight: 300;
  color: #fff; }

.phone__link {
  font-size: 14px;
  font-family: 'ubuntu';
  font-weight: 900;
  color: #e25028; }

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #2f3234;
  width: 100px;
  height: 100px; }
  .icon:hover {
    fill: #000; }
  .icon:first-child {
    margin-left: 0; }
