@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-b.woff') format('woff');
    src: url('../fonts/ubuntu-b.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-light.woff') format('woff');
    src: url('../fonts/ubuntu-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-medium.woff') format('woff');
    src: url('../fonts/ubuntu-medium.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-regular.woff') format('woff');
    src: url('../fonts/ubuntu-regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gagalin';
    src: url('../fonts/gagalin-regular.woff') format('woff');
    src: url('../fonts/gagalin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lifehack';
    src: url('../fonts/lifehackmedium.woff') format('woff');
    src: url('../fonts/lifehackmedium.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}