.hero {
    background-image: url('../images/slide-1-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.hero__img {
    position: relative;
    margin-left: rem(54px);
    &:before {
        background: url(../images/drops.png) no-repeat;
        content: "";
        width: 110%;
        height: 100%;
        position: absolute;
        z-index: 1;
        margin-top: rem(60px);
        margin-left: -8%;
        background-size: contain;
        left: 0;
        top: 0;
        @include phones {
            top: 7px;
            margin-left: -6%;
            width: 106%;
        }
    }
    @include phones {
        margin-left: 1.6rem;
        margin-top: -2rem;
    }
}

.hero__img img {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3rem;
}

.header__menu {
    @include tablets {
        display: none;
    }
}

.header__logo {
    margin-right: auto;
    margin-top: 0.4rem;
}

.nav {
    margin-right: rem(15px);
}

.nav__list {
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: "";
        @include circle(rem(5px),
        #fff);
        margin: 0 rem(12px);
    }
    &:last-child:after {
        display: none;
    }
}

.nav__link {
    color: #fff;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        text-decoration: underline;
    }
}

.hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__content {
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 15%;
    flex-wrap: nowrap;
    @include tablets {
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }
    @include phones {}
}

.hero__img,
.hero__description {
    display: flex;
    max-width: 50%;
    @include tablets {
        max-width: 100%;
        padding: 0;
    }
    @include phones {
        max-width: 100%;
        padding: 0;
    }
}

.hero__description {
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    @include tablets {
        text-align: center;
        padding: 0;
    }
    @include phones {
        margin-top: -6.4rem;
        padding-top: 0rem;
    }
}

.section__title--hero {
    padding-top: 3.55rem;
    @include tablets {
        padding-top: 0;
    }
    @include smaller {
        font-size: 3.2rem;
        padding-top: 0;
    }
}

.hero__descroption-text {
    color: #fff;
    font-family: 'lifehack';
    font-size: rem(65px);
    font-weight: 500;
    line-height: 3.8rem;
    padding-top: 0.8rem;
    letter-spacing: -1.4px;
    @include phones {
        padding-top: 0rem;
        ;
    }
    @include smaller {
        font-size: 2.8rem;
    }
}

.any-button--order {
    background-color: $orange;
}

.humburger-menu-link {
    @include phones {
        margin-right: 0.5rem;
    }
}

.header__btn {
    .any-button--order {
        @include phones {
            margin-right: 1.4rem;
        }
    }
}

.humburger-menu-link__icon {
    width: 24px;
    height: 4px;
    display: none;
    background: #fff;
    position: relative;
    margin-bottom: 3px;
    margin-left: 10px;
    border-radius: 2px;
    z-index: 200;
    transition: all 0.2s ease-in-out;
    &:before {
        width: 24px;
        height: 4px;
        display: block;
        background: #fff;
        position: absolute;
        left: 0;
        top: -9px;
        content: "";
        border-radius: 2px;
    }
    &:after {
        width: 24px;
        height: 4px;
        display: block;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -9px;
        content: "";
        border-radius: 2px;
    }
    @include tablets {
        display: inline-block;
    }
}

.close-menu {
    .humburger-menu-link__icon {
        background: transparent;
        &:before {
            transform: rotate(45deg);
            top: 0px;
        }
        &:after {
            transform: rotate(-45deg);
            bottom: 0px;
        }
    }
}

.arrow-scroll__link {
    position: absolute;
    top: 95%;
    left: 50%;
    display: block;
    width: rem(30px);
    margin-left: rem(0px);
    height: rem(16px);
    z-index: 50;
}

.arrow-scroll__link svg {
    width: rem(30px);
    height: rem(16px);
    fill: #fff;
}

.show-menu {
    .nav {
        width: 100%;
        height: 100%;
        .nav__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .nav__item {
                .nav__link {
                    font-size: rem(24px);
                    text-decoration: none;
                }
                &:after {
                    display: block;
                    margin: rem(20px) auto;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}