.any-button--more {
    background-color: $dark;
    color: #fff;
}

.any-button--more:hover {
    background-color: $dark + 20%;
    color: #fff;
}

.people-list {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    height: 100%;
    width: 100%;
    position: relative;
}

.people-list__item {
    width: 25%;
    height: 50%;
    position: relative;
    background: #000;
    @include tablets {
        width: 50%;
        text-align: center;
        height: 25%;
    }
}

.people-list__item .people-list__item-photo,
.people-list__item .people-list__item-info {
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

.people-list__item--active {
    .people-list__item-container {
        @include phones {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 20;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .people-list__item-info {
                height: min-content;
                padding: 10px;
                width: 95%;
                margin-left: 2.5%;
                top: 40%;
                background: #fff;
                border-radius: 5px;
                opacity: 1;
                .people-list__read-more {
                    display: none;
                }
                .people-list__item-title {
                    color: $dark;
                    text-align: left;
                    font-size: 1rem;
                }
                .people-list__item-body {
                    color: $dark;
                    text-align: left;
                    padding-bottom: 10px;
                }
            }
            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(47, 50, 52, 0.92);
                z-index: -1;
            }
        }
    }
}

.people-list__item:hover .people-list__item-photo {
    filter: grayscale(100%) opacity(30%);
    @include phones {
        filter: grayscale(100%) opacity(100%);
    }
}

.people-list__item .people-list__item-info {
    z-index: 10;
    padding: rem(50px) rem(20px) rem(20px) rem(20px);
}

.people-list__item-info {
    opacity: 0;
    transition: 0.2s all ease-in-out;
}

.people-list__item:hover .people-list__item-info {
    opacity: 1;
}

.people-list__item:hover .list-item-conteiner {
    background-color: rgba(80, 80, 80, 0.5);
}

.people-list__item--01 .people-list__item-photo {
    background: url(../images/foto-01c.jpg) center no-repeat;
    background-size: cover;
}

.people-list__item--02 .people-list__item-photo {
    background: url(../images/foto-02c.jpg) center no-repeat;
    background-size: cover;
}

.people-list__item--03 .people-list__item-photo {
    background: url(../images/foto-03c.jpg) center no-repeat;
    background-size: cover;
}

.people-list__item--04 .people-list__item-photo {
    background: url(../images/foto-04c.jpg) center no-repeat;
    background-size: cover;
}

.people-list__item--05 .people-list__item-photo {
    background: url(../images/foto-05c.jpg) center no-repeat;
    background-size: cover;
}

.people-list__item--06 .people-list__item-photo {
    background: url(../images/foto-06c.jpg) center no-repeat;
    background-size: cover;
}

.people-list__item--07 .people-list__item-photo {
    background: url(../images/foto-07c.jpg) center no-repeat;
    background-size: cover;
}

.people-list__item--08 .people-list__item-photo {
    background: url(../images/foto-08c.jpg) center no-repeat;
    background-size: cover;
}

.people-list__item-title {
    color: #fff;
    font-family: gagalin;
    font-size: rem(14px);
    margin-bottom: rem(20px);
    line-height: 1.42;
}

.people-list__item-body {
    color: #fff;
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.42;
    margin: 0;
    padding-bottom: rem(20px);
}