@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b.woff") format("woff");
  src: url("../fonts/ubuntu-b.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light.woff") format("woff");
  src: url("../fonts/ubuntu-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium.woff") format("woff");
  src: url("../fonts/ubuntu-medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular.woff") format("woff");
  src: url("../fonts/ubuntu-regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular.woff") format("woff");
  src: url("../fonts/gagalin-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehackmedium.woff") format("woff");
  src: url("../fonts/lifehackmedium.woff") format("woff2");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'ubuntu', 'Arial', 'Helvetica', 'sans-serif';
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhyden:not(:focus):not(active) {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 40.625rem;
  position: relative; }
  .section_centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.conteiner {
  max-width: 58.75rem;
  width: 95%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.wraper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 40.625rem;
  position: relative; }

.conteiner--full {
  width: 100%;
  height: 100%;
  max-width: 100%; }

.section__title {
  color: #f8b43a;
  font-family: 'gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0; }

.any-button {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer; }

.any-button.any-button--no-fill {
  background: transparent;
  padding: 0;
  margin-left: 0rem;
  text-transform: none;
  font-family: ubuntu;
  font-size: 0.85rem; }

.menu-page {
  display: none; }

.show-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(47, 50, 52, 0.99);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 100;
  top: 0; }

.aside {
  position: absolute; }

.dot-nav {
  position: fixed;
  display: block;
  top: 90px;
  right: 64px;
  z-index: 101; }
  @media screen and (max-width: 768px) {
    .dot-nav {
      display: none; } }

.dot-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.dot-nav-list__item-link {
  display: block;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  margin-bottom: 0.3125rem;
  position: relative;
  padding: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0); }

.dot-nav-list__item-link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  top: 0.1875rem;
  left: 0.1875rem; }

.dot-nav-list__item:nth-child(1) .dot-nav-list__item-link {
  border: 1px solid white; }

.hero {
  background-image: url("../images/slide-1-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.hero__img {
  position: relative;
  margin-left: 3.375rem; }
  .hero__img:before {
    background: url(../images/drops.png) no-repeat;
    content: "";
    width: 110%;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 3.75rem;
    margin-left: -8%;
    background-size: contain;
    left: 0;
    top: 0; }
    @media screen and (max-width: 480px) {
      .hero__img:before {
        top: 7px;
        margin-left: -6%;
        width: 106%; } }
  @media screen and (max-width: 480px) {
    .hero__img {
      margin-left: 1.6rem;
      margin-top: -2rem; } }

.hero__img img {
  width: 100%;
  height: 100%;
  z-index: 2; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.3rem; }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none; } }

.header__logo {
  margin-right: auto;
  margin-top: 0.4rem; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 80%; } }

.hero__img,
.hero__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%; }
  @media screen and (max-width: 768px) {
    .hero__img,
    .hero__description {
      max-width: 100%;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .hero__img,
    .hero__description {
      max-width: 100%;
      padding: 0; } }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 1rem; }
  @media screen and (max-width: 768px) {
    .hero__description {
      text-align: center;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .hero__description {
      margin-top: -6.4rem;
      padding-top: 0rem; } }

.section__title--hero {
  padding-top: 3.55rem; }
  @media screen and (max-width: 768px) {
    .section__title--hero {
      padding-top: 0; } }
  @media screen and (max-width: 479px) {
    .section__title--hero {
      font-size: 3.2rem;
      padding-top: 0; } }

.hero__descroption-text {
  color: #fff;
  font-family: 'lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 3.8rem;
  padding-top: 0.8rem;
  letter-spacing: -1.4px; }
  @media screen and (max-width: 480px) {
    .hero__descroption-text {
      padding-top: 0rem; } }
  @media screen and (max-width: 479px) {
    .hero__descroption-text {
      font-size: 2.8rem; } }

.any-button--order {
  background-color: #e25028; }

@media screen and (max-width: 480px) {
  .humburger-menu-link {
    margin-right: 0.5rem; } }

@media screen and (max-width: 480px) {
  .header__btn .any-button--order {
    margin-right: 1.4rem; } }

.humburger-menu-link__icon {
  width: 24px;
  height: 4px;
  display: none;
  background: #fff;
  position: relative;
  margin-bottom: 3px;
  margin-left: 10px;
  border-radius: 2px;
  z-index: 200;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .humburger-menu-link__icon:before {
    width: 24px;
    height: 4px;
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    top: -9px;
    content: "";
    border-radius: 2px; }
  .humburger-menu-link__icon:after {
    width: 24px;
    height: 4px;
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -9px;
    content: "";
    border-radius: 2px; }
  @media screen and (max-width: 768px) {
    .humburger-menu-link__icon {
      display: inline-block; } }

.close-menu .humburger-menu-link__icon {
  background: transparent; }
  .close-menu .humburger-menu-link__icon:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px; }
  .close-menu .humburger-menu-link__icon:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0px; }

.arrow-scroll__link {
  position: absolute;
  top: 95%;
  left: 50%;
  display: block;
  width: 1.875rem;
  margin-left: 0rem;
  height: 1rem;
  z-index: 50; }

.arrow-scroll__link svg {
  width: 1.875rem;
  height: 1rem;
  fill: #fff; }

.show-menu .nav {
  width: 100%;
  height: 100%; }
  .show-menu .nav .nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .show-menu .nav .nav__list .nav__item .nav__link {
      font-size: 1.5rem;
      text-decoration: none; }
    .show-menu .nav .nav__list .nav__item:after {
      display: block;
      margin: 1.25rem auto; }
    .show-menu .nav .nav__list .nav__item:last-child:after {
      display: none; }

.best {
  background-image: url("../images/slide-2-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .best {
      -webkit-box-align: self-start;
      -webkit-align-items: self-start;
      -ms-flex-align: self-start;
      align-items: self-start; } }

.conteiner--best {
  margin-top: -8rem; }
  @media screen and (max-width: 768px) {
    .conteiner--best {
      margin-top: 0; } }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.9rem; }
  @media screen and (max-width: 768px) {
    .section__title--best {
      margin-bottom: 10.5rem;
      margin-top: -17.6rem;
      letter-spacing: 0.17rem; } }
  @media screen and (max-width: 480px) {
    .section__title--best {
      margin-top: 2.9rem;
      font-size: 3.4rem;
      letter-spacing: 0.1rem;
      margin-bottom: 5rem; } }

.promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  vertical-align: top;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .promo {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (max-width: 480px) {
    .promo {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.promo-item {
  padding: 0 0.3125rem;
  width: 19.5625rem; }
  @media screen and (max-width: 768px) {
    .promo-item {
      width: 31%; } }
  @media screen and (max-width: 480px) {
    .promo-item {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: left;
      margin-bottom: 3.9rem; }
      .promo-item:last-child .promo-item__icon {
        margin-top: -1.8rem; } }

.promo-item__icon {
  width: 100px;
  height: 100px;
  margin: 0 auto; }
  @media screen and (max-width: 480px) {
    .promo-item__icon {
      padding: 0 1.625rem 0 1rem; } }

@media screen and (max-width: 480px) {
  .promo-item__content {
    margin-left: 2.4rem; } }

.promo-item__title {
  color: #2f3234;
  font-family: 'lifehack';
  font-size: 1.68rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin: 0;
  padding-top: 1.5rem;
  letter-spacing: -0.10625rem; }
  @media screen and (max-width: 768px) {
    .promo-item__title {
      letter-spacing: -0.08rem; } }
  @media screen and (max-width: 480px) {
    .promo-item__title {
      padding-top: 0;
      letter-spacing: -0.03rem; } }

.promo-item__body {
  color: rgba(47, 50, 52, 0.8);
  font-family: 'ubuntu';
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.45rem;
  margin: 0;
  padding-top: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .promo-item__body {
      line-height: 1.6rem; } }

.any-button--more {
  background-color: #2f3234;
  color: #fff; }

.any-button--more:hover {
  background-color: #434648;
  color: #fff; }

.people-list {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  height: 100%;
  width: 100%;
  position: relative; }

.people-list__item {
  width: 25%;
  height: 50%;
  position: relative;
  background: #000; }
  @media screen and (max-width: 768px) {
    .people-list__item {
      width: 50%;
      text-align: center;
      height: 25%; } }

.people-list__item .people-list__item-photo,
.people-list__item .people-list__item-info {
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0; }

@media screen and (max-width: 480px) {
  .people-list__item--active .people-list__item-container {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 20;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .people-list__item--active .people-list__item-container .people-list__item-info {
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      padding: 10px;
      width: 95%;
      margin-left: 2.5%;
      top: 40%;
      background: #fff;
      border-radius: 5px;
      opacity: 1; }
      .people-list__item--active .people-list__item-container .people-list__item-info .people-list__read-more {
        display: none; }
      .people-list__item--active .people-list__item-container .people-list__item-info .people-list__item-title {
        color: #2f3234;
        text-align: left;
        font-size: 1rem; }
      .people-list__item--active .people-list__item-container .people-list__item-info .people-list__item-body {
        color: #2f3234;
        text-align: left;
        padding-bottom: 10px; }
    .people-list__item--active .people-list__item-container:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(47, 50, 52, 0.92);
      z-index: -1; } }

.people-list__item:hover .people-list__item-photo {
  -webkit-filter: grayscale(100%) opacity(30%);
  filter: grayscale(100%) opacity(30%); }
  @media screen and (max-width: 480px) {
    .people-list__item:hover .people-list__item-photo {
      -webkit-filter: grayscale(100%) opacity(100%);
      filter: grayscale(100%) opacity(100%); } }

.people-list__item .people-list__item-info {
  z-index: 10;
  padding: 3.125rem 1.25rem 1.25rem 1.25rem; }

.people-list__item-info {
  opacity: 0;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out; }

.people-list__item:hover .people-list__item-info {
  opacity: 1; }

.people-list__item:hover .list-item-conteiner {
  background-color: rgba(80, 80, 80, 0.5); }

.people-list__item--01 .people-list__item-photo {
  background: url(../images/foto-01c.jpg) center no-repeat;
  background-size: cover; }

.people-list__item--02 .people-list__item-photo {
  background: url(../images/foto-02c.jpg) center no-repeat;
  background-size: cover; }

.people-list__item--03 .people-list__item-photo {
  background: url(../images/foto-03c.jpg) center no-repeat;
  background-size: cover; }

.people-list__item--04 .people-list__item-photo {
  background: url(../images/foto-04c.jpg) center no-repeat;
  background-size: cover; }

.people-list__item--05 .people-list__item-photo {
  background: url(../images/foto-05c.jpg) center no-repeat;
  background-size: cover; }

.people-list__item--06 .people-list__item-photo {
  background: url(../images/foto-06c.jpg) center no-repeat;
  background-size: cover; }

.people-list__item--07 .people-list__item-photo {
  background: url(../images/foto-07c.jpg) center no-repeat;
  background-size: cover; }

.people-list__item--08 .people-list__item-photo {
  background: url(../images/foto-08c.jpg) center no-repeat;
  background-size: cover; }

.people-list__item-title {
  color: #fff;
  font-family: gagalin;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
  line-height: 1.42; }

.people-list__item-body {
  color: #fff;
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-bottom: 1.25rem; }

.team__conteiner {
  background-image: url("../images/team_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-position: center; }

.team__content {
  width: 50%;
  padding: 5rem;
  background-color: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .team__content {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .team__content {
      padding-top: 1.9rem; } }

@media screen and (max-width: 768px) {
  .team-acco {
    width: 56%;
    margin: 0 auto; } }

@media screen and (max-width: 480px) {
  .team-acco {
    width: 100%;
    margin: 0 auto;
    margin-top: -2rem; } }

.team-acco__item {
  margin-bottom: 2.1875rem; }
  .team-acco__item:first-child {
    padding-top: 110px; }
  @media screen and (max-width: 768px) {
    .team-acco__item {
      margin-bottom: 0.85rem; } }
  @media screen and (max-width: 480px) {
    .team-acco__item {
      margin-bottom: 0.8rem; } }

.team-acco__trigger {
  color: #fff;
  font-family: 'gagalin';
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  text-decoration: none; }
  .team-acco__trigger:before {
    content: "";
    width: 0.5625rem;
    height: 0.375rem;
    display: inline-block;
    border: 0.375rem solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    padding-bottom: 0.1875rem;
    margin-right: 0.3125rem; }
  @media screen and (max-width: 768px) {
    .team-acco__trigger {
      font-size: 1.6rem; } }
  @media screen and (max-width: 480px) {
    .team-acco__trigger {
      font-size: 1.7rem; } }

.taeam-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.975rem;
  height: 0;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .taeam-acco__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.team-acco__item--active .taeam-acco__content {
  height: initial; }

.team-acco__item--active .team-acco__trigger {
  color: #f8b43a; }

@media screen and (max-width: 768px) {
  .section__title--team {
    margin-top: 1.5rem;
    letter-spacing: 0.16rem; } }

@media screen and (max-width: 480px) {
  .section__title--team {
    font-size: 3.5rem;
    letter-spacing: 0rem; } }

.team-acco__pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .team-acco__pic {
      margin-top: -0.15rem; } }

.team-acco__text-title {
  font-family: 'ubuntu';
  font-size: 0.9rem;
  font-weight: 900;
  color: #fff;
  padding-top: 1.125rem; }
  @media screen and (max-width: 480px) {
    .team-acco__text-title {
      padding-top: 1.325rem; } }

.team-acco__text-content {
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 1rem 0; }
  @media screen and (max-width: 768px) {
    .team-acco__text-content {
      line-height: 1.5rem; } }
  @media screen and (max-width: 480px) {
    .team-acco__text-content {
      line-height: 1.7rem; } }

.menu__conteiner {
  background-image: url("../images/menu_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  @media screen and (max-width: 480px) {
    .menu__conteiner {
      background-position: 30%; } }

.menu__content {
  position: relative;
  width: 100%;
  height: 100%; }

.section__title--menu {
  color: #fff;
  position: absolute;
  left: 5.625rem;
  top: 6.875rem;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .section__title--menu {
      left: 1.5rem;
      top: 9.375rem; } }
  @media screen and (max-width: 480px) {
    .section__title--menu {
      left: 4.5rem;
      top: 2rem;
      font-size: 3.8rem; } }

.menu-acco {
  position: absolute;
  max-width: 71%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .menu-acco {
      max-width: 100%; } }

.menu-acco__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-acco__item--meat {
  background: url(../images/menu-meat-big.jpg) no-repeat center;
  background-size: cover; }

.menu-acco__item--vegan {
  background: url(../images/menu-vegan-big.jpg) no-repeat center;
  background-size: cover; }

.menu-acco__item--diet {
  background: url(../images/menu-diet-big.jpg) no-repeat center;
  background-size: cover; }

.menu-acco__title {
  display: block;
  position: relative;
  min-width: 5rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

.menu-acco__title-sub {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: block;
  position: absolute;
  width: 18.75rem;
  bottom: 10rem;
  left: -7rem;
  color: #fff;
  font-family: 'gagalin';
  font-size: 2.7rem; }
  @media screen and (max-width: 480px) {
    .menu-acco__title-sub {
      bottom: 12.7rem; } }

.menu-acco__content {
  height: 100%;
  width: 0;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.93);
  color: #fff; }

.menu-acco__text {
  padding: 3.75rem 2.1875rem 2.1875rem 2.1875rem;
  opacity: 0; }

/*.menu-acco__item:hover*/
.menu-acco__item--active .menu-acco__content {
  width: 100%; }

.menu-acco__item--active .menu-acco__text {
  opacity: 100; }

.menu-acco__item--active .menu-acco__title-sub {
  color: #f8b43a; }

.order {
  background-image: url("../images/order-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 60rem; }
  @media screen and (max-width: 768px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 100%;
      padding: 0 20%; } }
  @media screen and (max-width: 768px) {
    .form__content {
      padding: 0 18.1%; } }
  @media screen and (max-width: 480px) {
    .form__content {
      padding: 0; } }

@media screen and (max-width: 480px) {
  .form {
    width: 95%; } }

.form__content-left,
.form__content-right {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .form__content-left,
    .form__content-right {
      width: 100%; } }

.form__block {
  width: 100%;
  margin: 0 0.625rem; }

.form__block-title {
  color: #fff;
  font-size: 0.875rem;
  margin-left: 0; }
  @media screen and (max-width: 480px) {
    .form__block-title {
      margin-left: 0;
      font-size: 1rem; } }

.form__input {
  border: none;
  border-radius: 0.25rem;
  line-height: 2.1875rem;
  margin: 0.3rem 0.625rem 1rem;
  padding: 0 0.3125rem;
  width: inherit;
  margin-left: 0; }
  @media screen and (max-width: 768px) {
    .form__input {
      margin: 0.7rem 0.625rem 1rem;
      margin-left: 0; } }
  @media screen and (max-width: 480px) {
    .form__input {
      margin-left: 0;
      line-height: 2.3875rem; } }

.form__content-left .form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .form__content-left .form__row {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      width: 104.2%;
      margin-left: -2.1%; } }

.form__content-right .form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__content-right .form__row:last-child {
      margin-top: 1.3rem; } }
  @media screen and (max-width: 480px) {
    .form__content-right .form__row {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 104.2%;
      margin-left: -2.1%; } }

.form__input--textarea {
  height: 6.6rem; }
  @media screen and (max-width: 768px) {
    .form__input--textarea {
      height: 7rem; } }

.form__block--radios,
.form__block--checkbox {
  width: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: 0;
  margin-right: 0.4rem; }
  @media screen and (max-width: 768px) {
    .form__block--radios,
    .form__block--checkbox {
      margin-right: 1rem; } }
  @media screen and (max-width: 480px) {
    .form__block--radios,
    .form__block--checkbox {
      left: 0;
      margin-top: 1.3rem; } }

.form__block--checkbox {
  margin-top: 1.5rem;
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .form__block--checkbox {
      margin-top: 2.2rem; } }

.form__block--button {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-right: 0; }

.form__block--radios .form__block-title,
.form__block--checkbox .form__block-title {
  margin-left: 2.1875rem; }

.form__block--checkbox:before,
.form__block--radios:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  left: 0.625rem;
  position: relative;
  background-color: #fff;
  position: absolute; }
  @media screen and (max-width: 480px) {
    .form__block--checkbox:before,
    .form__block--radios:before {
      left: 0;
      top: 1px; } }

.form__block--radios:before {
  border-radius: 50%; }

.form__input--radio {
  display: none; }

.form__input--checkbox {
  display: none; }

.form__block--radios:after,
.form__block--checkbox:after {
  content: "";
  display: block;
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
  left: 0.875rem;
  top: 0.3125rem;
  border-radius: 50%; }

#change:checked + .form__block--radios:after,
#pay-card:checked + .form__block--radios:after,
#no-call:checked + .form__block--checkbox:after {
  background-color: #e25028;
  content: ""; }

#no-call:checked + .form__block--checkbox:after {
  border-radius: 0%; }

.any-button--order {
  background-color: #e25028;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  text-align: center;
  font-weight: 900; }
  @media screen and (max-width: 768px) {
    .any-button--order {
      min-width: 6.4rem; } }
  @media screen and (max-width: 480px) {
    .any-button--order {
      font-size: 0.83em; } }

.section__title--order {
  margin-bottom: 3.875rem;
  margin-top: -5.125rem; }
  @media screen and (max-width: 768px) {
    .section__title--order {
      margin-top: -9.7rem;
      letter-spacing: 0.16rem;
      margin-bottom: 4.3rem; } }
  @media screen and (max-width: 480px) {
    .section__title--order {
      line-height: 1.2;
      font-size: 3.6rem;
      text-align: center;
      margin-top: 0;
      letter-spacing: 0.06rem;
      margin-bottom: 1.8rem; } }

.map {
  width: 100%;
  height: 100%;
  background-image: url("../images/map-tmp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.footer {
  height: 3.625rem;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-image: url("../images/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 0 24px; } }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7rem;
      padding-top: 1rem; } }

.footer-content {
  max-width: 58.75rem;
  margin: 0 auto; }
  @media screen and (max-width: 480px) {
    .footer-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.footer-content__left,
.footer-content__right {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer-content__left,
    .footer-content__right {
      width: 100%; } }

.footer-content__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.625rem; }
  @media screen and (max-width: 480px) {
    .social-links {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.social-links__item {
  margin-left: 1.25rem; }
  @media screen and (max-width: 480px) {
    .social-links__item:first-child {
      margin-left: 0; } }

.adress {
  font-size: 0.875rem;
  font-family: 'ubuntu';
  font-weight: 300;
  color: #fff; }

.phone__link {
  font-size: 0.875rem;
  font-family: 'ubuntu';
  font-weight: 900;
  color: #e25028; }

.footer-content,
.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.social-links .icon {
  width: 2rem; }
  @media screen and (max-width: 480px) {
    .social-links .icon {
      width: 1.25rem; } }

.slider {
  background: url("../images/slider-bg.png") repeat-x center;
  background-size: contain; }

.slider__conteiner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }

.slider__nav-left,
.slider__nav-right,
.slider__nav-content {
  height: 100%; }

.slider__nav-left,
.slider__nav-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.arrow-scroll-left,
.arrow-scroll-right {
  height: 100%; }

.arrow-scroll__link--left,
.arrow-scroll__link--right {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .arrow-scroll__link--left .icon,
  .arrow-scroll__link--right .icon {
    width: 2rem;
    height: 2rem; }

.arrow-scroll__link--left {
  width: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.arrow-scroll__link--right {
  width: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.arrow-scroll__link--left svg {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  display: block; }

.arrow-scroll__link--right svg {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: block; }

.slider__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.slider__content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*align-items: center;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%; }

.slider__content-big-img {
  margin: 0 auto;
  max-width: 100%; }

.slider__content-iclude {
  width: 5.625rem;
  height: 5.625rem;
  background: rgba(227, 80, 40, 0.4);
  text-align: center;
  margin-left: 3rem;
  border-radius: 5px;
  display: block; }

.slider__content-iclude-icon .icon {
  width: 3rem;
  height: 3rem;
  margin-top: 0.75rem;
  margin-bottom: 0.1875rem; }

.slider__content-include-text {
  font-family: 'gagalin';
  text-transform: uppercase;
  color: #fff; }

.slider__content-kkal {
  width: 3.75rem;
  height: 5rem;
  position: relative;
  margin-left: 3rem; }

.slider__content-kkal .icon {
  width: 3.75rem;
  height: 5rem;
  opacity: 0.5; }

.slider__content-kkal-text1,
.slider__content-kkal-text2 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'gagalin';
  font-size: 1.25rem;
  text-transform: uppercase;
  top: 38px;
  opacity: 0.5; }

.slider__content-kkal-text2 {
  top: initial;
  bottom: -1.125rem;
  bottom: -0.5rem;
  font-size: 0.875rem; }

.slider__content-right {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%; }

.slider__nav-title {
  font-size: 4.5rem;
  color: #fff;
  font-family: 'gagalin';
  line-height: 4rem;
  padding-bottom: 40px; }

.slider__nav-text {
  padding-bottom: 30px;
  font-size: 0.875rem;
  color: #fff;
  line-height: 2rem;
  font-weight: 100;
  font-family: "ubuntu"; }

.slider__nav-offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.price {
  font-size: 1.875rem;
  color: #e25028;
  font-family: 'gagalin'; }

.money-count {
  font-size: 4.5rem; }

.any-button--slider {
  margin-bottom: -50px;
  margin-left: 30px; }

.slider__slides {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  overflow: hidden; }

.slides-item {
  min-width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.slider__content-include {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90px;
  height: 90px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 30px;
  padding-top: 15px;
  background: rgba(227, 80, 40, 0.4);
  border-radius: 5px; }

.slider__content-include-icon .icon {
  width: 48px;
  height: 48px; }

.slider__content-include-content {
  display: none;
  position: relative;
  width: 0;
  height: 0; }

.show-include {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .show-include .include-content__conteiner {
    position: absolute;
    top: -90px;
    left: 120px;
    min-width: 20rem;
    max-width: 100%;
    height: 20.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 18px; }

.include-content__item-icon {
  width: 44px;
  height: 44px; }

.include-content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.include-content__item-mass {
  margin-left: auto;
  margin-right: 3.125rem; }

.include-content__item-ingridient {
  font-size: 0.875rem;
  font-weight: 900;
  margin-left: 1.4375rem; }

.close {
  display: block;
  width: 24px;
  height: 24px;
  background: transparent;
  top: -80px;
  position: absolute;
  left: 400px;
  z-index: 110;
  opacity: 0.7; }
  .close:before {
    width: 24px;
    height: 4px;
    display: block;
    background: #e25028;
    position: absolute;
    left: 0;
    content: "";
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 12px; }
  .close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 8px;
    width: 24px;
    height: 4px;
    display: block;
    background: #e25028;
    position: absolute;
    left: 0;
    content: "";
    border-radius: 2px; }

.humburger-menu-link__icon {
  background: transparent; }
  .humburger-menu-link__icon:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px; }
  .humburger-menu-link__icon:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0px; }

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #2f3234;
  width: 100px;
  height: 100px; }
  .icon:hover {
    fill: #000; }
  .icon:first-child {
    margin-left: 0; }
